<mat-card class="p-4 m-4">
  <form [formGroup]="form">
    <mat-card-title> Цена автомобиля </mat-card-title>

    <mat-card-subtitle>
      Заполните форму и нажмите на кнопку "Рассчитать"
    </mat-card-subtitle>

    <mat-card-content>
      <div class="row">
        <div class="col-12 col-md-4 col-lg-4">
          <mat-form-field appearance="outline" class="w-100 mt-4 me-4">
            <mat-label>Расход топлива на трассе</mat-label>
            <input
              formControlName="highwaympg"
              matInput
              placeholder="Введите значение"
              [required]="true"
            />
          </mat-form-field>
        </div>

        <div class="col-12 col-md-4 col-lg-4">
          <mat-form-field appearance="outline" class="w-100 mt-4 me-4">
            <mat-label>Расход топлива в городе</mat-label>
            <input
              formControlName="citympg"
              matInput
              placeholder="Введите значение"
              [required]="true"
            />
          </mat-form-field>
        </div>

        <div class="col-12 col-md-4 col-lg-4">
          <mat-form-field appearance="outline" class="w-100 mt-4 me-4">
            <mat-label>Наименование автомобиля</mat-label>
            <mat-select formControlName="carName" [required]="true">
              <mat-option *ngFor="let car of selectForCarName" [value]="car.numericValue">
                {{car.stringValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-12 col-md-4 col-lg-4">
          <mat-form-field appearance="outline" class="w-100 mt-4 me-4">
            <mat-label>Расположение двигателя</mat-label>
            <mat-select formControlName="enginelocation" [required]="true">
              <mat-option *ngFor="let location of selectForEngineLocation" [value]="location.numericValue">
                {{location.stringValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-12 col-md-4 col-lg-4">
          <mat-form-field appearance="outline" class="w-100 mt-4 me-4">
            <mat-label>Топливная система</mat-label>
            <mat-select formControlName="fuelsystem" [required]="true">
              <mat-option *ngFor="let system of selectForFuelsystem" [value]="system.numericValue">
                {{system.stringValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-12 col-md-4 col-lg-4">
          <mat-form-field appearance="outline" class="w-100 mt-4 me-4">
            <mat-label>Соотношение диаметр поршня / ход поршня</mat-label>
            <input
              formControlName="boreratio"
              matInput
              placeholder="Введите значение"
              [required]="true"
            />
          </mat-form-field>
        </div>

        <div class="col-12 col-md-4 col-lg-4">
          <mat-form-field appearance="outline" class="w-100 mt-4 me-4">
            <mat-label>Колесная база</mat-label>
            <input
              formControlName="wheelbase"
              matInput
              placeholder="Введите значение"
              [required]="true"
            />
          </mat-form-field>
        </div>

        <div class="col-12 col-md-4 col-lg-4">
          <mat-form-field appearance="outline" class="w-100 mt-4 me-4">
            <mat-label>Привод</mat-label>
            <mat-select formControlName="drivewheel" [required]="true">
              <mat-option *ngFor="let wheel of selectForDriveWheel" [value]="wheel.numericValue">
                {{wheel.stringValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-12 col-md-4 col-lg-4">
          <mat-form-field appearance="outline" class="w-100 mt-4 me-4">
            <mat-label>Длина автомобиля</mat-label>
            <input
              formControlName="carlength"
              matInput
              placeholder="Введите значение"
              [required]="true"
            />
          </mat-form-field>
        </div>

        <div class="col-12 col-md-4 col-lg-4">
          <mat-form-field appearance="outline" class="w-100 mt-4 me-4">
            <mat-label>Ширина автомобиля</mat-label>
            <input
              formControlName="carwidth"
              matInput
              placeholder="Введите значение"
              [required]="true"
            />
          </mat-form-field>
        </div>

        <div class="col-12 col-md-4 col-lg-4">
          <mat-form-field appearance="outline" class="w-100 mt-4 me-4">
            <mat-label>Мощность (л.с.)</mat-label>
            <input
              formControlName="horsepower"
              matInput
              placeholder="Введите значение"
              [required]="true"
            />
          </mat-form-field>
        </div>

        <div class="col-12 col-md-4 col-lg-4">
          <mat-form-field appearance="outline" class="w-100 mt-4 me-4">
            <mat-label>Снаряженная масса</mat-label>
            <input
              formControlName="curbweight"
              matInput
              placeholder="Введите значение"
              [required]="true"
            />
          </mat-form-field>
        </div>

        <div class="col-12 col-md-4 col-lg-4">
          <mat-form-field appearance="outline" class="w-100 mt-4 me-4">
            <mat-label>Объем двигателя</mat-label>
            <input
              formControlName="enginesize"
              matInput
              placeholder="Введите значение"
              [required]="true"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row m-1">
        <button mat-raised-button color="primary" (click)="sendData()" [disabled]="form.invalid">Рассчитать</button>
      </div>
    </mat-card-content>
  </form>
</mat-card>

<mat-card *ngIf="!!response" class="p-4 m-4">
  <mat-card-title>
    Предположительная цена автомобиля: {{ response }} с точностью {{ accuracy }}
  </mat-card-title>
</mat-card>
